:root {
  --color-background: #dfddd7;
  --color-background-nav: #6a5acd;
  --color-text-light: #ededed;
  --color-text-title: #ff5555;
  --color-text-dark: #3d3d3d;
  --color-success: #3aaa3d;
  --color-danger: #c92853;
  --color-primary: #6a5acd;
  --color-primary-light: #9d92e8;
  /* --color-primary-light: #b7afed; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  transition: 0.2s opacity;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 90%;
}

main {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--color-text-title);
  margin: 40px 0;
  font-size: 30px;
}
